{% extends 'base.html.twig' %}

{% block body %}

    <form action="" method="get" onchange="this.submit();">

        <label>
            Project:
            <select name="projectId" onchange="document.getElementById('js-sprint-selectbox').value = '';">
                <option value="">-- Select --</option>
                {% for project in projects %}
                    <option value="{{ project.id }}" {{ activeProjectId == project.id ? ' selected="selected"' : '' }}>{{ project.title }}</option>
                {% endfor %}
            </select>
        </label>
        <br>

        <label>
            Sprint:
            {% if sprints is null %}
                <select disabled="disabled">
                    <option value="">-- Select project before --</option>
                </select>
            {% else %}
                <select name="sprintId" id="js-sprint-selectbox">
                    <option value="">-- Select --</option>
                    {% for sprint in sprints %}
                        <option value="{{ sprint.id }}" {{ activeSprintId == sprint.id ? ' selected="selected"' : '' }}>{{ sprint.title }} ({{ sprint.status.title }})</option>
                    {% endfor %}
                </select>
            {% endif %}
        </label>
    </form>
    {% for userStory in userStories %}
        <div>
            <h3>
                {# What is number 10273 in url? #}
                <a href="https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/us-{{ userStory.id }}">US-{{ userStory.id }}</a>
                {{ userStory.title }}
            </h3>

            <dl>
                <dt>Owner:</dt>
                <dd>{{ userStory.owner ? userStory.owner.fullName : 'nobody' }}</dd>
            </dl>
            <dl>
                <dt>In progress:</dt>
                <dd>
                    {% for inProgressTask in userStory.inProgressTasks %}
                        <div>
                            {% if inProgressTask.owner is null %}
                                Unassigned -
                            {% else %}
                                {{ inProgressTask.owner.fullName }} -
                            {% endif %}
                            {{ inProgressTask.title }}
                        </div>
                    {% endfor %}
                </dd>
            </dl>
            <dl>
                <dt>Status:</dt>
                <dd>{{ userStory.status.title }}</dd>
            </dl>
            <dl>
                <dt>Story points:</dt>
                <dd>{{ userStory.storyPoints }} SP</dd>
            </dl>
            <dl>
                <dt>Effort logged:</dt>
                <dd>{{ userStory.effortLogged|hoursAndMinutes }}</dd>
            </dl>
            {% if userStory.tags is not empty %}
                <dl>
                    <dt>Tags:</dt>
                    <dd>{% for tag in userStory.tags %}{{ tag.title }}{% if not loop.last %}, {% endif %}{% endfor %}</dd>
                </dl>
            {% endif %}
            <dl>
                <dt>Last change:</dt>
                <dd title="{{ userStory.lastChangeOn|date('Y-m-d H:i:s') }}">{{ userStory.lastChangeOn|ago }}</dd>
            </dl>
        </div>
    {% endfor %}
{% endblock %}