{% extends 'base.html.twig' %}

{% import 'Homepage/userStoryMacro.thml.twig' as userStoryMacro %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form action="" method="get" class="form-inline" onchange="this.submit();">
                    <label class="m-sm-3">
                        Project:
                        <select class="form-control ml-sm-1" name="projectId" onchange="document.getElementById('js-sprint-selectbox').value = '';">
                            <option value="">-- Select --</option>
                            {% for project in projects %}
                                <option value="{{ project.id }}" {{ activeProjectId == project.id ? ' selected="selected"' : '' }}>{{ project.title }}</option>
                            {% endfor %}
                        </select>
                    </label>

                    <label class="m-sm-3">
                        Sprint:
                        {% if sprints is null %}
                            <select class="form-control ml-sm-1" disabled="disabled" readonly>
                                <option value="">-- Select project before --</option>
                            </select>
                        {% else %}
                            <select class="form-control ml-sm-1" name="sprintId" id="js-sprint-selectbox">
                                <option value="">-- Select --</option>
                                {% for sprint in sprints %}
                                    <option value="{{ sprint.id }}" {{ activeSprintId == sprint.id ? ' selected="selected"' : '' }}>{{ sprint.title }} ({{ sprint.status.title }})</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </label>
                </form>
            </div>
        </div>
        <div class="row board">
            <div class="col-md-12 col-lg-4 board__col">
                <h2>Sprint backlog</h2>
                {% for userStory in userStories %}
                    {{ userStoryMacro.box(userStory) }}
                {% endfor %}
            </div>
            <div class="col-md-12 col-lg-4 board__col">
                <h2>In progress</h2>
            </div>
            <div class="col-md-12 col-lg-4 board__col">
                <h2>Done</h2>
            </div>
        </div>
    </div>
{% endblock %}