{% macro box(userStory) %}
    <div class="user-story">
        <div class="user-story__header">
            <span class="user-story__story-points">{{ userStory.storyPoints }} SP</span>
            <span class="user-story__number">
                {# What is number 10273 in url? #}
                <a href="https://app.yodiz.com/plan/pages/board.vz?cid=10273#/app/us-{{ userStory.id }}" target="_blank">US-{{ userStory.id }}</a>
            </span>
            <span class="user-story__title">{{ userStory.title }}</span>
        </div>
        <br class="clear">
        {% if userStory.status.inProgress %}
            {% if userStory.inProgressTasks is not empty %}
                <div class="user-story__block">
                    {% for inProgressTask in userStory.inProgressTasks %}
                        <div class="user-story__task">
                            {% if inProgressTask.owner is null %}
                                Unassigned -
                            {% else %}
                                {{ inProgressTask.owner.fullName }} -
                            {% endif %}
                            <i>{{ inProgressTask.title }}</i>
                        </div>
                    {% endfor %}
                </div>
            {% elseif userStory.status.inProgress %}
                <div class="user-story__block">
                    <div class="user-story__warning">Nobody works on it. Waiting tasks:</div>
                    {% for task in userStory.tasks if task.status.new %}
                        <div class="user-story__task">
                            {% if task.owner is null %}
                                Unassigned -
                            {% else %}
                                {{ task.owner.fullName }} -
                            {% endif %}
                            <i>{{ task.title }}</i>
                            ({{ task.status.title }})
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% if userStory.tags is not empty %}
            <div class="user-story__block">
                <span class="user-story__tags-title">Tags:</span>
                {% for tag in userStory.tags %}
                    <span class="user-story__tag">{{ tag.title }}</span>
                {% endfor %}
            </div>
        {% endif %}

        <div class="user-story__block">
            <div class="user-story__footer-item">
                {{ userStory.owner ? userStory.owner.fullName : 'nobody' }}
            </div>
            <div class="user-story__footer-item" title="{{ userStory.lastChangeOn|date('Y-m-d H:i:s') }}">
                {{ userStory.lastChangeOn|ago }}
            </div>
            <div class="user-story__footer-item">
                &#x23F2; {{ userStory.effortLogged|hoursAndMinutes }}
            </div>
        </div>
        <br class="clear">
    </div>
{% endmacro %}